@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --mainColor: #fff;
  --secondColor: #1c2237;
  --hoverColor: #77a7bd;
  --bgColor: #1c2237;
}

h1 {
  font-size: 2.5rem;
  -webkit-background-clip: text;
  font-size: 2.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.125rem;
  color: #888;
}

/* Button  */
button {
  color: var(--mainColor);
  background: var(--bgColor);
  font-size: 1rem;
  font-weight: 600;
  width: 14rem;
  padding: 0.7rem;
  margin-top: 2.5rem;
  border: 0.5px solid var(--mainColor);
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

button:hover {
  color: var(--secondColor);
  background: var(--mainColor);
}
